* {
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    text-align: center;
    font-size: 500%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.score {
    display: flex;
    justify-content: space-evenly;
    font-size: 250%;
}

.choice {
    background-color: white;
    border: solid 5px black;
    border-radius: 15px;
}

button:hover {
    cursor:pointer;
}

.choosing {
    transform: scale(1.2);
    transition-duration: 0.5s;
}