* {
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    text-align: center;
    font-size: 500%;
}

h2 {
    text-align: center;
    font-size: 300%;
}

#choices {
    display: flex;
    justify-content: space-evenly;
}

#score {
    display: flex;
    justify-content: center;
    gap: 20%;
    font-size: 400%;
    font-weight: bolder;
}

.choice {
    background-color: white;
    border: solid 5px black;
    border-radius: 15px;
}

button:hover {
    cursor:pointer;
}

.choosing {
    transform: scale(1.1);
    transition-duration: 0.1s;
}

#final {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner, .loser {
    margin-top: 0;
}

.playAgain, .cont {
    font-size: 200%;
    font-weight: bold;
    background-color: white;
    border-width: 5px;
    border-radius: 15px;
    padding: 0 15px;
}